.divider{
    position: relative;
    text-align: center;
    margin: 15px 0px;
}
.divider span{
    padding: 8px;
    position: relative;
    font-size: 15px;
    z-index: 2;
}
.divider::after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #ddd;
    top: 50%;
    left: 0;
    z-index: 1;
}